# Django
SECRET_KEY=change-me-in-prod
DEBUG=True
ALLOWED_HOSTS=*
DJANGO_PORT_EXPOSE=8000

# Postgres (docker-compose)
DB_NAME=snies_db
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=db
DB_PORT=5432
DB_PORT_EXPOSE=5432

# Seed Root User (RBAC)
# Si el usuario ya existe por email, NO se recrea; solo se asegura rol root y flags de admin.
ROOT_SEED_EMAIL=root@snies.local
ROOT_SEED_PASSWORD=root12345
ROOT_SEED_NAME=Root Admin

