SECRET_KEY=change-in-prod
ALLOWED_HOSTS=your-domain.com,www.your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com

DB_NAME=snies_db
DB_USER=postgres
DB_PASSWORD=change-in-prod

NGINX_PORT_EXPOSE=80

